.c {
    height: fit-content;
    position: relative;
}

.d-bg {
    width: 20px;
    height: 100%;
    background-color: #619e5f;
    position: absolute;

}

.e-bg {
    width: 100%;
    height: 20px;
    background-color: #619e5f;
    position: absolute;

}
.c-wrapper {
    padding: 50px;
    display: flex;
}

.d-left {
    flex: 1;
    
}
.lc{
position: relative;
border: 3px solid #619e5f;
padding: 10px 10px;
width: 50%;
float: right;
align-items: end;
align-content: center;
font-family: "Optima", san-sserif;
font-size: 20px;
}
.lc p{
    margin: 0;
}

.lc:before {
    content: attr(data-title);
    background: #619e5f;
    position: absolute;
    padding: 3px 20px;
    color: #fff;
    left: 0;
    top: 0;
  }
  
  .rc{
    position: relative;
    border: 3px solid #619e5f;
    padding: 10px 10px;
    width: 50%;
    float: left;
    align-items:left;
    justify-content: space-between;
    top: 0;
    align-content: center;
    font-family: "Optima", san-sserif;
    font-size: 20px;

    }
   
    .rc:before {
        content: attr(data-title);
        background: #619e5f;
        position: absolute;
        padding:3px 20px;
        color: #fff;
        left: 0;
        top: 0;
        justify-content: space-between;
      }
      .bold {
        font-weight:bold;
      }
.d-right {
    float: right;
    padding:  -3rem 2rem 3rem;
    width: 20%;
    align-items: end;
    margin: 0px 0px 0px auto;
}

.c-titles {
    position: center;
    font-size: 70px;
    width: 100%;
    height: 100px;
    background-color: #669b78;
    margin-top: 0px;
}
.titlec{
    background-color: #669b78;
    position: center;
    font-size: 70px;
    font-weight: bolder;
   align-content: center;
   font-family: "Optima", san-sserif ;
}
  

.c-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 50%;
}

h6
{
    font-size:18px;
    display: inline;
    font-weight: lighter;
}

h7
{
    display:inline;
}
.c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.c-descs {
    font-weight: 200;
    font-size: 15px;
}

form {
    margin-top: 30px;
    width: 75%;
}

input {
    width: 80%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 25px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 25px;
    padding-left: 10px;
}

button {
    border: none;
    padding: 15px;
    background-color: #454747;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

label {
    font-weight: 500;
    font-size: 25px;
}

.hig {
 position:center;
 float: center;
 
}

@media screen and (max-width: 480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
    }

    .c-title {
        font-size: 30px;
    }

    .c-info-item {
        margin: 20px 0px;
        width: 100%;
    }

    .c-desc {
        display: none;
    }

    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    button {
        margin-top: 10px;
    }


}